*{
	font-family: "Tahoma";
	margin: 0px;
	padding: 0px;
	background-color: silver;
}

h1	{
	padding-top: 25px;
	text-align: center;
}

h4	{
	text-align: center;
}

ul	{
	padding-left: 50px;
	padding-right: 50px;
}