*{
	font-family: "Tahoma";
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#dieter img {
	width: 400px;
	height: 400px;
	margin: 0px auto;
	padding-left: 360px;
	padding-top: 25px;
}

h1 {
	text-align: center;
	color: white;
}

h4	{
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}

h5	{
	text-align: center;
	color: white;
}